<html>
    <head>
        <title>Kitty's Doggy Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Kitty's Doggy Blog</a></h1>
        </div>

        <div>
            <p>published: 11.10.2016, 21:47</p>
            <h2><a href="">My First Post</a></h2>
            <p>This is Kitty's Doggy Blog</p>
        </div>

        <div>
            <p>published: 11.10.2016, 21:49</p>
            <h2><a href="">My Second Post</a></h2>
            <p>Hi Kitty!</p>
            <p>I love you!</p>
        </div>
    </body>
</html>
