<html>
    <head>
        <title>Catty's doggy</title>
    </head>
    <body>
        <div>
            <h1><a href="">Catty's doggy Blog</a></h1>
        </div>

        <div>
            <p>published: 11.10.2016, 21:47</p>
            <h2><a href="">My first post</a></h2>
            <p>This is Catty's doggy blog</p>
        </div>

        <div>
            <p>published: 11.10.2016, 21:49</p>
            <h2><a href="">My second post</a></h2>
            <p>Hi catty!</p>
            <p>I love you!</p>
        </div>
    </body>
</html>
